server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5439/cloud}
    username: ${DB_USERNAME:cloud}
    password: ${DB_PASSWORD:cloud}
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

app:
  storage:
    root-dir: ${STORAGE_ROOT:./.local-storage}
  security:
    token-ttl: ${TOKEN_TTL:24h}
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:8080,http://localhost:8081}
  bootstrap:
    # Создаст пользователей при старте, если они отсутствуют в БД
    users:
      - login: user
        password: password
